$colorWhite:#fff;
$colorBlue:#14274A;
$colorGold:#E0B973;
$colorWhiteSmoke:#e5e5e5;
$colorGray:#f7f7f7;

$font_mont: 'Montserrat', sans-serif;
$font_robo: 'Roboto', sans-serif;
$font_gera: 'Adobe Garamond Pro';
